@tailwind base;
@tailwind components;
@tailwind utilities;

/* فونت Inter */
@font-face {
  font-family: mikhak;
  src: url("./assets/fonts/mikhak-400.eot"),
  url("./assets/fonts/mikhak-400.woff2"),
  url("./assets/fonts/mikhak-400.woff"),
  url("./assets/fonts/mikhak-400.ttf");
}

@layer components {
  .glass {
    @apply bg-white bg-opacity-10 backdrop-blur-md border border-white border-opacity-20 rounded-2xl shadow-xl;
  }
  .glass-dark {
    @apply bg-gray-900 bg-opacity-40 backdrop-blur-lg border border-gray-700 border-opacity-50 rounded-2xl shadow-2xl;
  }
}

.light {
  @apply bg-gradient-to-br from-purple-50 via-pink-50 to-blue-50 text-gray-900;
}
.dark {
  @apply bg-gray-950 text-white;
}

/* انیمیشن تغییر تم */
html {
  transition: background-color 0.3s ease, color 0.3s ease;
}